.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-container{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.App-container-button--Create{
  position: absolute;
  right: 5px;
  bottom: 10px;
  display: flex;
  width: 450px;
  justify-content: space-between;
  flex-direction: row-reverse;
}
